<div class="container">
	<div class="row">
	<h2><center>Maharastra State Board of Secondary and Higher Secondary Education</center></h2>
	</div>
    
    <div class="row">
    
    <div class="col-md-6">       <!-- Standard button -->

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
{{!-- <button type="button" class="btn btn-primary ribbon">Class X MarkSheet</button> --}}
<button  type="button" id="my"class="btn btn-primary ribbon"  margin-top= "-1650px"
    margin-left= "186px" style="margin-left:170px" {{action "Submit"}}>Class X MarkSheet</button>
<!-- Indicates a successful or positive action -->
{{!-- <button type="button" class="btn btn-success ribbon">Class X Certificate</button> --}}
<button  type="button" id="myBut"class="btn btn-success ribbon" margin-top=-1650px style="margin-left:170px"{{action "Sub"}}>Class X Certificate</button>

<!-- Contextual button for informational alert messages -->
{{!-- <button type="button" class="btn btn-info ribbon">Class XII MarkSheet</button> --}}
<button  type="button" id="Button"class="btn btn-info ribbon" margin-top="-1650px"style="margin-left:170px"{{action "Sb"}}>Class XII MarkSheet</button>

<!-- Indicates caution should be taken with this action -->
{{!-- <center><button type="button" class="btn btn-warning ribbon">Class XII Certificate</button> --}}
<button  type="button" id="myB"class="btn btn-warning ribbon" margin-top="-1650px"style="margin-left:170px"{{action "S"}}>Class XII MarkSheet</button>


</div>
</div>
</div>