 <div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;">

  <a href="admin"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
">Home</a>
  <a href="main"  class="fa fa-users" style="color:white;    margin-top: 21px;    margin-left: 1188px;
">Admin</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>

<div class="container">
	<div class="row">
<form>
    {{!-- <div class="form-group"> --}}
     <div> <label class="formlabe" style="color:black;margin-bottom:10px" for="usr">Document Type</label></div>
      <div><input type="text" class="form-control" id="usr" style="width:31%; height:40px;   margin-top: -33px;
    margin-left: 315px;"></div>
         <div> <label class="formlab" style="color:black;margin-bottom:10px" for="usr">Name of Document Owner</label></div>
      <div><input type="text" class="form-control" id="usr" style="width:31%; height:40px;   margin-top: -33px;
    margin-left: 315px;"></div>
<br><br>

            
        <span id="fileselector">
        <label class="btn btn-default" for="upload-file-selector">
            <input id="upload-file-selector" type="file">
            <i class="fa_icon icon-upload-alt margin-correction"></i>upload file
        </label>
    </span>
        </form>
	</div>
</div>


		{{!-- <button  type="button" id="mybutton" class="btn btn-primary" style="height: 50px;width:200px;color:black; font-size: -5px;    margin-left: 236px;

margin-bottom:10px;    margin-top: 64px;
"{{action "submit"}}>Submit
		    {{!-- <input type="submit" value="send"></button> --}}

{{!-- <script>
    $("#sub_form").submit(function(e) {
    e.preventDefault();
    alert(12121212);
    
    bootbox.confirm("Are you sure want to delete this video?", function(result) {
        if (result) {
            console.log('sumvfvf');
            $(this).unbind("submit").submit();
            return;
        }
    }); 
});
</script> --}}