
<div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;">

  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
margin-right: 1217px;">Home</a>
  <a href="main"  class="fa fa-users" style="color:white;    margin-top: -13px;    margin-left: 1188px;
">Admin</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>
<div class="wrapper" id="page-wrapper"    style="background-color:#178cb994;">
<h1 style="margin-top:75px; font-size:20;    margin-left: 160px;"> Welcome To DMS  </h1>      

	<div class="containe" id="content" tabindex="-1" >


	<div class="row" style="margin-right: -15px;
    margin-left: -15px;
    width: 652px;    margin-top: 52px;height:449px">

              <h1  style="margin-left: 204px;
    font-size: 20px">List Of Hosted Documents   </h1>
             <br>

                        <div class="metr" style="margin-top: -146px;">

                         <a class="metrostyle orgmetro" style="cursor: pointer" href="adminhost">

                             <span class="fa fa-hospital-o" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                             <span style="color: white; font-size: 1.1em; float: right; margin-top: 5px; padding-right: 0.2em"></span>
                              <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">SSC DOC </span>
                             <div class="form-group">
                            {{!-- <label class="control-label col-sm-4">SSC Document</label> --}}
                            <div class="col-sm-8" style="margin-left: 18px;">
                             <select class="form-control" id="sel1" style="height: 37px;
    width: 113px;">
							 <option>Select documents</option>
								{{!-- <option>SSC Certificate</option> --}}
								<option>HSC Certificate</option>
								<option>Degree Certificate</option>
								 {{!-- <option>RSBY Card</option> --}}
								<option>Got Id Card</option>
								<option>PAN Card</option>
								<option>MNREGA Card</option>
								<option>Voter Id card</option>
								<option>Passport</option>
								<option>Driver's Licenes</option>
								{{!-- <option>Electricity Bill</option> --}}
								{{!-- <option>Water Bill</option> --}}
								{{!-- <option>Rent Recipt</option> --}}
								{{!-- <option>Telephone Bill</option> --}}
								{{!-- <option>Ration Card</option> --}}
								{{!-- <option>Porperty Tac Recipt</option> --}}
								{{!-- <option>Recidence Certificate</option>  --}}
								<option>Other</option>
							  </select>
                            </div>
                          </div>
                         </a>
                         <a class="metrostyle eenmetro" style="cursor: pointer" href="adminhost">

                             <span class="fa fa-hospital-o" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em"></span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px ;margin-right:50px">HSC DOC </span>
                                                          <div class="form-group">

                              <div class="col-sm-8" style="margin-left: 18px;">
                             <select class="form-control" id="sel1"style="height: 37px;
    width: 113px;">
							 <option>Select documents</option>
                             <option>Leaving Certificate of STD XI</option>
								<option>Marksheet</option>
								<option>Pasing Certificate</option>
                                <option>Original STD XI Marksheet</option>
                                <option>Passport Size photos</option>
								
								{{!-- <option>RSBY Card</option>
								<option>Got Id Card</option>
								<option>PAN Card</option>
								<option>MNREGA Card</option>
								<option>Voter Id card</option>
								<option>Passport</option>
								<option>Driver's Licenes</option>
								<option>Electricity Bill</option>
								<option>Water Bill</option>
								<option>Rent Recipt</option>
								<option>Telephone Bill</option>
								<option>Ration Card</option>
								<option>Porperty Tac Recipt</option>
								<option>Recidence Certificate</option> --}}
								<option>Other</option>
							  </select>
                            </div>
                          </div>
                         </a>
                         <a style="cursor: pointer" class="metrostyle metrostylelarge  boometro" href="adminhost">
                                <span class="fa fa-hospital-o" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px;float:left"></span>
                                <span style="color:white;font-size: 1.1em;float:right;margin-top:5px;padding-right:0.2em"></span>   
                                <span style="color:white;float:left;margin-top:1px;margin-left:41px;margin-right:50px"> OTHER DOCS </span>
                                <div class="form-group">
                            {{!-- <label class="control-label col-sm-4">SSC Document</label> --}}
                            <div class="col-sm-8" style="margin-left: 18px;">
                             <select class="form-control" id="sel1" style="height: 37px;
    width: 113px;">
							 <option>Select documents</option>
								
                              <option>SSC Certificate</option>
								<option>HSC Certificate</option>
								<option>Degree Certificate</option>
								 <option>RSBY Card</option> 
								<option>Got Id Card</option>
								<option>PAN Card</option>
								<option>MNREGA Card</option>
								<option>Voter Id card</option>
								<option>Passport</option>
								<option>Driver's Licenes</option>
								<option>Electricity Bill</option>
								<option>Water Bill</option>
								<option>Rent Recipt</option>
								<option>Telephone Bill</option>
								<option>Ration Card</option>
								<option>Porperty Tac Recipt</option>
								<option>Recidence Certificate</option> --}}
								<option>Other</option>
							  </select>
                            </div>
                          </div>
                            </a>
                             </div> 
	</div>
</div>
</div>
