<div class="container" style=" margin-top:10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="row">
                <div class="col-sm-7">
                    <div>
                    <h3>Digital Document</h3>
                    <table class="table text-center table-bordered w-100">
                        <thead class="bg-primary">
                            <tr>
                            <td>Date of Request</td>
                            <td>Shared With</td>
                            <td>Date of Send Document</td>
                            <td>Status</td>
                                </tr>
                        </thead>
                        <tbody>
                            <tr>
                               <td colspan="5">NILL</td>
                            </tr>
                        </tbody>
                    </table>
                        </div>
                        </div>
                        </div>
                        </div>