{{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ----------> --}}

<div class="container">
	<div class="row">
        <div class="col-lg-5 col-md-5 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bhoechie-tab-menu">
              <div class="list-group">
                <a href="dash" class="list-group-item active text-center">
                  <h4 class="glyphicon glyphicon-home"></h4><br/>Dash Board
                </a>
                <a href="issued" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Issued Documents
                </a>
                <a href="uploaded" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-exclamation-sign"></h4><br/>Uploaded Documents
                </a>
                <a href="shared" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-share"></h4><br/>Shared Documents
                </a>
                <a href="acivity" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-refresh"></h4><br/>Activity
                </a>
                <a href="status" class="list-group-item text-center">
                  <h4 class="glyphicon glyphicon-stats"></h4><br/>Status
                </a>
              </div>
            </div>
            
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bhoechie-tab">
                <!-- flight section -->
                {{!-- 1 --}}
          <div class="bhoechie-tab-content"> 
                    <center>
                      <div class="well">
                      <div class="container">
         <form>
         <div class="form-group row">
         <label for="lgFormGroupInput"   class="col-sm-2 col-form-label col-form-label-lg" style="font-style: normal;font-weight:normal;margin-left: 45;margin top:30;font-size: 12px; color:white">Verify Your EmailID</label>
         <div class="col-sm-10">
         <input type="email"  class="form-control form-control-lg" id="lgFormGroupInput" placeholder="email" style="width:39%;height:34px; margin-left:-628px; margin-top:-11px">
                 <button  type="button" id="myButton"class="btn btn-primary" style="height:25px;color:white;margin-top:-50px;margin-right:92px;background-color:#9d9d9d"{{action "Submit"}}>send verification link</button>

     </div>
   </div>
   </form>
   </div>
                      </div>                 
                         </center>
                       
                
                <!-- flight section -->
                
                    <center>
                      <div class="wellnext">
                      <div class="container">
 <form>
   <div class="form-group row">
<img src="assests/images/education.png" style="width:20%;height:75px;margin-right:450px;margin-left:150px;margin-top:-33px">   
  <div class="col-sm-10" >
    <p style="font-family:'Myriad Pro','sans-serif';margin-left:-697px;margin-top:-49px; font-size:10.0pt; color:#BE2D0F; ">Congratulations!Your Digilocker is linked with Aadhaar</p>
       {{!-- <input type="email"  class="form-control form-control-lg" id="lgFormGroupInput" placeholder="email" style="width:39%;height:34px; margin-left:-628px; margin-top:-11px"> --}}
                 {{!-- <button  type="button" id="myButton"class="btn btn-primary" style="height:25px;color:white;margin-top:-50px;margin-right:92px;background-color:#9d9d9d"{{action "Submit"}}>send verification link</button> --}}

     </div>
   </div>
   </form>
   </div>
   </div>                 
   </center>
   </div>

   {{!-- 2 --}}
   <div class="bhoechie-tab-content">
<h3 style="color: #448aff;text-align: center;"> Issued Documents </h3>
<hr>
  <table class="table table-striped">
         <thead>
        <tr class="row-name">
           <th style="width:12%">SNO</th>
           <th style="width:10%">Issued Documents</th>
           <th>Id</th>
           <th>Name</th>
           <th>URL</th>
          <th>Created</th>
           <th>Actions</th>
      
        </tr>
     </thead>   
     <tbody>
        <tr class="row-content">
           <td> <span class="label label-default"> New </span></td>
           <td></td>
           <td></td>
           <td></td>
           {{!-- <td><i class="fa fa-thumbs-up" aria-hidden="true"></i></td> --}}
           <td></td>
           <td></td>
           <td>
                {{!-- <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings"> --}}
                <i class="fa fa-trash" style="color:red" aria-hidden="true"></i>
             
              {{!-- <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings"></a> --}}
                <i class="fa fa-pencil-square-o" style="color:blue" aria-hidden="true"></i>
              {{!-- </a>  --}}
             
                {{!-- <i class="fa fa-trash" style="color:red" coloraria-hidden="true"/>&nbsp;
                <i class="fa fa-pencil-square-o" style="color:blue"aria-hidden="true"/>
                  --}}
           </td>
            </tr>
         {{!-- <tr class="row-content">
          
           <td> <span class="label label-info"> </span></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td>
              <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>  <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings"/>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a> 
              
   
              
           </td>
        </tr>  --}}
        {{!-- <tr class="row-content">
          
           <td> <span class="label label-info"> Old </span></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td>
              <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
             
              <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a> 
           </td>
        </tr>
        <tr class="row-content">
           
           <td> <span class="label label-default"> New </span></td>
           <td></td>
           <td></td>
           <td></td>
           <td><i class="fa fa-heart" aria-hidden="true"></i></td>
           <td></td>
           <td>
              <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
          
              <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a> 
           </td>
        </tr>
        <tr class="row-content">
          
           <td> <span class="label label-info">  </span></td>
           <td>FA105</td>
           <td>Amitabh</td>
           <td> Scale</td>
           <td>Wonderful Idea</td>
           <td>10,000/-</td>
           <td>
              <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
              
              <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a> 
           </td>
        </tr>
        <tr class="row-content">
           
           <td> <span class="label label-default"> New </span></td>
           <td></td>
           <td></td>
           <td></td>
           <td><i class="fa fa-smile-o" aria-hidden="true"></i></td>
           <td></td>
           <td>
              <a class="btn btn-danger edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
         
              <a class="btn btn-info edit" href="path/to/settings" aria-label="Settings">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a> 
           </td>
        </tr> --}}
     </tbody>
  </table>
 

                   {{!-- <center>
                      <div class="wellnext">
                      <div class="container">
 <form>
   <div class="form-group row">
<img src="assests/images/aadhar.JPG" style="width:20%;height:75px;margin-right:450px;margin-left:150px;margin-top:-33px">   
  <div class="col-sm-10" >
    <p style="font-family:'Myriad Pro','sans-serif';margin-left:-697px;margin-top:-49px; font-size:10.0pt; color:#BE2D0F; ">Congratulations!Your Digilocker is linked with Aadhaar</p>
       {{!-- <input type="email"  class="form-control form-control-lg" id="lgFormGroupInput" placeholder="email" style="width:39%;height:34px; margin-left:-628px; margin-top:-11px"> --}}
                 {{!-- <button  type="button" id="myButton"class="btn btn-primary" style="height:25px;color:white;margin-top:-50px;margin-right:92px;background-color:#9d9d9d"{{action "Submit"}}>send verification link</button> --}}

     {{!-- </div>
   </div>
   </form>
   </div>
   </div>                 
   </center> --}} 
 </div>
                        
                      
                         

              
                <!-- train section -->
                {{!-- 3 --}}
                <div class="bhoechie-tab-content ">
                      <div class="tab-pane fade" id="Tabs-Ketiga">
              <div class="col-md-12">
                <!-- untuk backend actionnya ditunjukan ke mana -->
                <form method="POST" action="#">
                  <div class="form-group files">
                    <label>Upload Your File </label>
                    <input type="file" class="form-control" multiple="">
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-labeled btn-success pull-right">
                      <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Save
                    </button>
                  </div>
                </form>
              </div>
            </div>

             <div class="tab-pane fade in active" id="Tabs-Keempat">
              <!-- disini maksudnya in active yaitu mengaktifkan file yg ditampilkan untuk pertamakali -->
              <div class="col-md-12">
                <form method="POST" action="#">
                  <div class="form-group files color">
                    <label>Upload Your File </label>
                    <input type="file" class="form-control" multiple="">
                  </div>
                  <div class="col-md-12">
                    <button type="button" class="btn btn-labeled btn-success pull-right">
                      <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Save
                    </button>
                  </div>
                </form>
                </div>
                </div>
                </div> 
    
                <!-- Shared search -->
                {{!-- 4 --}}
                <div class="bhoechie-tab-content">
                    <div class="well">
                      <div class="container"style="margin-top:50px; margin-right:1000px"></div>
                    <div class="default-primary-color notice_top text-primary-color">
    <h2 style="color:white;font-size:18px;margin-top:-80px"class="page-section-header">Shared Documents</h2><br>
    <p style="color:white;font-size:18px;margin-top:-20px"class="page-section-header">This section shows all documents / certificates you have shared with others via email.</p>
    </div>
    <div ng-show="empty_response"style="margin-top:100px"
    class="" id="emptycontent" style="position: relative;">
  
 
   
     
  <div class="container" style="margin-top:50px">
    <div class="wellnext" style="background-color:white;padding:15px">
    <div class="icon-share" style="margin-top:-50px">
    <p class="primary-text-color" style="margin-top:50px">
      <strong>Nothing shared yet</strong><h1 class="glyphicon glyphicon-share"></h1>
    
      Documents shared by you will show up here      
    </p>
    <br>
  </div>
  </div>
  </div>
 </div>
 </div>
 </div>
 
{{!-- 5 --}}
               <div class="bhoechie-tab-content">
                    <div class="well">
                      <div class="container"style="margin-top:50px"></div>
                    <div class="default-primary-color notice_top text-primary-color">
    <h2 style="color:white;font-size:18px;margin-top:-80px"class="page-section-header">Activity</h2><br>
    <p style="color:white;font-size:18px;margin-top:-20px"class="page-section-header">This section Shows all your activity</p>
    </div>
    <div ng-show="empty_response"style="margin-top:100px"
    class="" id="emptycontent" style="position: relative;">
   <div class="container" style="margin-top:50px">
    <div class="wellnext" style="background-color:white;padding:15px">
    <div class="icon-share" style="margin-top:-50px">
    <p class="primary-text-color" style="margin-top:50px">
      {{!-- <strong>Nothing shared yet</strong><h1 class="glyphicon glyphicon-share"></h1> --}}
    
      {{!-- Documents shared by you will show up here       --}}
    </p>
    <br>
  </div>
  </div>
  <p>You will see a list of events here when you start to use your DigiLocker.</p>
  </div>
 </div>
 </div>
 </div>
               <div class="bhoechie-tab-content">
                        <div class="row shop-tracking-status">
    
    <div class="col-md-12">
        <div class="well">
    
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputOrderTrackingID" class="col-sm-2 control-label">Document id</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOrderTrackingID" value="" placeholder="# put your order id here">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="shopGetOrderStatusID" class="btn btn-success">Get status</button>
                    </div>
                </div>
            </div>
    
            <h4>Your Document status:</h4>

            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Date created:</span>
                    <span class="label label-success"></span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Last update:</span>
                    <span class="label label-success"></span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Comment:</span>
                    <span class="label label-success"></span>
                </li>
                <li class="list-group-item">You can find out latest status of your order with the following link:</li>
                <li class="list-group-item"><a href="//tracking/link/goes/here">//tracking/link/goes/here</a></li>
            </ul>

            <div class="order-status" style="margin-top:80px">

                <div class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                    <div class="order-status-timeline-completion c3"></div>
                </div>

                <div class="image-order-status image-order-status-new active img-circle">
                    <span class="status">Accepted</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-active active img-circle">
                    <span class="status">In progress</span>
                    <div class="icon"></div>
                </div>
                {{!-- <div class="image-order-status image-order-status-intransit active img-circle">
                    <span class="status">Shipped</span>
                    <div class="icon"></div>
                </div> --}}
                <div class="image-order-status image-order-status-delivered active img-circle">
                    <span class="status">Documents</span>
                    <div class="icon"></div>
                </div>
                <div class="image-order-status image-order-status-completed active img-circle">
                    <span class="status">Completed</span>
                    <div class="icon"></div>
                </div>

            </div>
        </div>
    </div>
                    
                      <div class="well">
                        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="row shop-tracking-status">
    
    <div class="col-md-12">
        <div class="well">
    
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputOrderTrackingID" class="col-sm-2 control-label">Order id</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOrderTrackingID" value="" placeholder="# put your order id here">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="shopGetOrderStatusID" class="btn btn-success">Get status</button>
                    </div>
                </div>
            </div>
            <h4>Your order status:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="prefix">Date created:</span>
                    <span class="label label-success"></span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Last update:</span>
                    <span class="label label-success"></span>
                </li>
                <li class="list-group-item">
                    <span class="prefix">Comment:</span>
                    <span class="label label-success">customer's comment goes here</span>
                </li>
                <li class="list-group-item">You can find out latest status of your order with the following link:</li>
                <li class="list-group-item"><a href="//tracking/link/goes/here">//tracking/link/goes/here</a></li>
            </ul>

            <div class="order-status">

                <div class="order-status-timeline">
                    <!-- class names: c0 c1 c2 c3 and c4 -->
                   
</div>
</div>
</div>
   <label for="lgFormGroupInput"    style="font-style: normal;font-weight:normal;margin-left: 45;margin-top:-40px;font-size: 12px; color:white"><h3>shared Document</h3><p>This section shows all documents / certificates you have shared with others via email.
</p></label>
                      <div class="container">
                      <form>
                            
					<div class="row">
					
							
                      
    <ul class="socialIcons" style="margin-top:250px">
      {{!-- <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                    <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                     <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                     <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> --}}
       <li class="facebook" ><a href="https://www.facebook.com"><i class="fa fa-fw fa-fb social">Facebook</i></a></li> 
       <li class="twitter"><a href="https://www.twitter.com"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li> 
       <li class="instagram"><a href="https://www.instagram.com"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li> 
       <li class="pinterest"><a href="https://www.pinterest.com"><i class="fa fa-fw fa-pinterest-p"></i>Pinterest</a></li> 
       <li class="steam"><a href="https://www.steam.com"><i class="fa fa-fw fa-steam"></i>Steam</a></li> 
    </ul>
    <div class="copyright-text">
								<p><center>CopyRight © 2018 Digital All Rights Reserved</center></p>
                                </div>

                                 </div>
                       
                        
                    </form>
                    </div>
                     </div>               
                        </div>
                       </div>
                        </div>    
                           
 




 



  
<style>
  .well{
    width: 966px;
    height: 1px;
    padding: 46px;
    margin-bottom: 20px;
    background-color: #6ba8f7;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  body {
    background:white;
}
ul.socialIcons {
    padding: 0;
    text-align: center;
}
.socialIcons li {
    background: yellow;
    list-style: none;
    display: inline-block;
    margin: 15px;
    margin-top: 15%;
    border-radius: 2em;
    overflow:hidden;
}
.socialIcons li a {
    display: block;
    padding: .5em;
    max-width: 2.3em;
    min-width: 2.3em;
    height: 2.3em;
    white-space: nowrap;
    line-height: 1.5em;
    transition:.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}
.socialIcons li i {
    margin-right:.5em;
}
.socialIcons li:hover a {
    max-width:200px;
    padding-right:1em;
}
.socialIcons .facebook {
    background: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}
.socialIcons .twitter {
    background: #00aced;
    box-shadow: 0 0 16px #00aced;
}
.socialIcons .instagram {
    background: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}
.socialIcons .pinterest {
    background: #c92228;
    box-shadow: 0 0 16px #c92228;
}
.socialIcons .steam {
    background: #666666;
    box-shadow: 0 0 16px #666666;
}
  .wellnext{
    width: 600px;
    height: 100px;
    padding: 46px;
    margin-bottom: 20px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-top: 1px;
  }
.div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
.div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
.div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
.div.bhoechie-tab-menu div.list-group>a .glyphicon,
.div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}

div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #5A55A3;
  background-image: #5A55A3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5A55A3;
}



div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
a.del
{
    background:#d9534f;
    border-radius: 2px; 
    width: 35px;
    height:28px; 
    padding-left:12px;
    line-height:10px;
}

a.edit
{
    padding-left:10px;
    background:#337ab7;
    color:#fff;
    border-radius:2px;
    border:none;
}

tr.row-name
{
    font-size: 18px;
    color:#448aff;
}

tr.row-content
{
    color:#6c7173;
}

table
{
    border-bottom: 8px solid #448aff;
}

td.check
{
    text-align: center;
}

.table-striped>tbody>tr:nth-of-type(odd)
{
    background:#F0F2F2 !important; 
}

a.btn-danger:hover
{
    background: #de6c69;
}

a.btn-danger
{
    background:#d9534f;  
}

a.btn-top
{
    background:#448aff;
    color:#fff;
    border:1px solid #448aff; 
    padding: 7px 10px; 
    border-radius:4px; 
}

a.btn-top:hover
{
    text-decoration: none;
    box-shadow:3px 3px 5px #222; 
    transition:box-shadow 0.5s; 
}

</style>
<script>
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>