
<div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;
    color: #007bff">

  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
">Home</a>
  <a href="main"  class="fa fa-users" style="color:white;    margin-top: 21px;    margin-left: 1188px;
">Admin</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>
<title>Institution dash board 1</title>

	<div class="container-fluid" style="background-color: #ddd;
    margin-top: 16px;">
	<div class="row">
    	<div class="col-sm-2 text-center" style="margin-top: 29px;margin-left:-13px">
       		<a href="#" class="d-block bg-primary text-white p-3 my-2 rounded" style="width: 240px;
    margin-left: -65px;"
>            <h4 class="glyphicon glyphicon-home"></h4>DashBoard</a>
            <a href="#" class="d-block bg-primary text-white p-3 my-2 rounded"style="width: 184px;
    margin-left: -8px;"> <h4 class="glyphicon glyphicon-file	
"></h4>Document Availability</a>
            <a href="#" class="d-block bg-primary text-white p-3 my-2 rounded"style="width: 202px;
    margin-left: -25px;"><h4 class="glyphicon glyphicon-list-alt"></h4>Issue mark sheet</a>
            <a href="#" class="d-block bg-primary text-white p-3 my-2 rounded"style=" width: 184px;
    margin-left: -8px;
"><h4 class="glyphicon glyphicon-exclamation-sign"></h4>Update documents</a>
                  
            <a href="#" class="d-block bg-primary text-white p-3 my-2 rounded"style="width: 237px;
    margin-left: -60px;"><h4 class="glyphicon glyphicon-refresh"></h4>Request</a>
        </div>
        <div class="col-sm-10  text-center" style="background-color #eee;margin-top:24px;background-color:#ddd:margin-left:13px;height:412px">
        	<div class="bg-secondary mt-3 p-2" style=" background-color: white;"><h2>Institution</h2></div>
            <div style="height:200px;background-color #eee;" class="border bg-light mt-3">
            <img src="https://www.livemint.com/rf/Image-621x414/LiveMint/Period1/2013/12/06/Photos/School%20--621x414.jpg" style="height: 259px;
    width: 1034px;"  />
            </div>
        </div>
    </div>
</div>