<table id="myTable">
                        <th> Indexno </th> 
                        <th> File Name </th> 
                                
                                <tr>
                                    <td> <span id="display"></span></td>
                                    <td>  https://ipfs.io/ipfs/<span id="usertype"></span> </td>
                                   
                                </tr>
                            </table>