<div class ="homesscreen">      
 
         <div class="headerpart"> <img class="im" src="assets/image/gon.png" height="110" width="200" margin-top="1000px" margin-bottom="-20px" margin-left="1px" margin-top= "-150px"padding-top="20px" />
         <p class="main-header" style= "text-align:center;margin-top:-69px;font-weight:bold;font-size:18px;color:white"><h2>GOVERNMENT OF MAHARASHTRA</h2></p>

<div class="navbar" style="    margin-top: 23px;">

  <a href="main"  class="glyphicon glyphicon-home" style="color:white;    margin-top: 21px;
margin-right: 1217px;">Home</a>
  <a href="main"  class="fa fa-phone" style="color:white;    margin-top: -13px;    margin-left: 1188px;
">Contact</a>
     
</div>
          
       </div>
       
     </div>
     <br><br>

<div class="container">
	<div class="row">
<form>
    {{!-- <div class="form-group"> --}}
     <div> <label class="formlabel" style="color:black;margin-bottom:10px" for="usr">Enter Reg.No.</label></div>
      <div><input type="text" class="form-control" id="usr" style="width:31%;    margin-top: -33px;
    margin-left: 241px;"></div>
    {{!-- </div> --}}
            <button  type="button" id="mybutton" class="btn btn-primary" style="height: 50px;width:200px;color:black; font-size: -5px;    margin-left: 144px;

margin-bottom:10px;    margin-top: 103px;
"{{action "submit"}}>Submit
		    {{!-- <input type="submit" value="send"> --}}
		</button>
        </form>
	</div>
</div>
{{!-- <script>
    $("#sub_form").submit(function(e) {
    e.preventDefault();
    alert(12121212);
    
    bootbox.confirm("Are you sure want to delete this video?", function(result) {
        if (result) {
            console.log('sumvfvf');
            $(this).unbind("submit").submit();
            return;
        }
    }); 
});
</script> --}}