{{!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ----------> --}}
<div class="headerpart"> <img src="assets/image/gon.png" height="100" width="300" margin-top="1000px" margin-bottom="-20px" margin-left="1px" /></div>
   <div class="main-header">
      <h2 style="margin-left:30px; padding-top: 20px;margin-left:-50px;margin-top: -170px;margin-bottom:-108px;background-colo:rgba(0, 0, 255, 0.267)(0, 0, 255, 0.267);height:200px;width:1500px">
         <p class="text-center" style="margin-top:70px;padding:20px;color:brown">GOVERNMENT OF MAHARASHTRA</p>
      </h2>
   </div>
   <br>




<div class="container">
	<div class="row">
		{{!-- <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div>
    	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></div> --}}
        {{!-- <a href="main" id="profile1" {{action "show1"}}><font color="white"><h4 class="glyphicon glyphicon-list-alt"></h4>Issue Marksheet</font></a> --}}
<h4 style="margin-top:159px">Education Document </h4>
	    <a href="main" id="proc" class="col-md-3 col-sm-4 col-xs-6"{{action "show1"}} ><img class="img-responsive" src="https://education.maharashtra.gov.in/img/head2.jpg" style="margin-left:-150px;width:400px;margin-top:55px"/></a>
        {{!-- <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" style="margin-left:150px;width:400px"/></div> --}}
        <h4 style="margin-top:-30px;
    margin-left: 520px;">Other Documents </h4>
	    <a href="main" id="pro" class="col-md-3 col-sm-4 col-xs-6"{{action "show2"}} ><img class="img-responsive" src="https://static.digit.in/default/artImg198x166_20068.png" style="margin-left:120px;width:400px;margin-top:55px"/></a>
    </div>
    	{{!-- <div class="row">

            <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" margin-left="50px" /></div>

</div> --}}
</div>